* {
    box-sizing: border-box
}

body{
    background-color: rgb(183, 241, 239);
}

form{
  border: 1px solid black;
  width: 45%;
  float: left;
  margin-bottom: 20px;
  padding: 16px;
}

/* .container {
  padding: 16px;
} */

input, p{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display:block;
  border: none;
  background: #f1f1f1;
}

/* I want to make the hr same size as the rest of the input and also align it to the left side */

hr {   
    border: 1px solid #757575;
    margin-bottom: 25px;
}

.resetbtn {
    background-color: #e23832;
    color: white;
    padding: 16px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .resetbtn:hover {
    opacity:1;
  }

.submitbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.submitbtn:hover {
  opacity:1;
}

#outputform{
  float: right;
  display: none;
}